<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EPED.Properties.Settings.eped_db1ConnectionString"
            connectionString="server=desk-brx-eped.ep.uk;database=eped;user id=eped;persistsecurityinfo=True;password=Effect2020;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EPED.Properties.Settings>
            <setting name="ServerLocation" serializeAs="String">
                <value>desk-brx-eped.ep.uk</value>
            </setting>
            <setting name="DBBase" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>******</value>
            </setting>
            <setting name="providerName" serializeAs="String">
                <value>MySql.Data.MySqlClient</value>
            </setting>
            <setting name="ApplicationUpdateLocation" serializeAs="String">
                <value>R:\EPED\Publish\EPED.Application</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>Guest</value>
            </setting>
            <setting name="Email1ReportTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Email2ReportTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Email1Send" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email2Send" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeriodForReporting" serializeAs="String">
                <value>Weekly</value>
            </setting>
            <setting name="DayToReport" serializeAs="String">
                <value>Monday</value>
            </setting>
            <setting name="StartupView" serializeAs="String">
                <value>Selection</value>
            </setting>
            <setting name="DefaultSiteName" serializeAs="String">
                <value>ALL</value>
            </setting>
            <setting name="PrintReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DueForServiceReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportOnBlankDueDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PartsGroupAllocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintInColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>eped</value>
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value>eped</value>
            </setting>
            <setting name="ReportOnInUseOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DueForMPMReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultHeaderFont" serializeAs="String">
                <value>Calibra</value>
            </setting>
        </EPED.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.18.0.0" newVersion="3.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>